.comm-container {
  margin: auto;
  width: 40%;
}

.comment-textarea {
  width: 100%;
  outline: 0;
  border: 2px solid #e5e5e5;
  padding: 8px;
  border-radius: 8px;
  font-size: 1.5rem;
  height: 200px;
}

.comment-button {
  font-size: 1.2em;
  padding: 8px;
}
