body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  color: black;
}

.post-by-username-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: 2.5rem auto 0;
}

.pst-user-container {
  border-style: solid;
  padding: 1em;
}

.upper-container {
  display: flex;
  justify-content: space-between;
}

.left-div {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.posttext {
  font-size: 1.5rem;
  margin: 0;
}

.leave-comment-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 20px;
}

.new-comment-button {
  border: 2px solid #461e1e;
  border-radius: 8px;
  padding: 4px;
}

.formz {
  display: flex;
  align-items: center;
  height: 40px;
}

.like-button {
  padding: 4px;
  font-size: 1rem;
  height: 40px;
}

.lower-container {
  border-style: solid;
  padding: 1rem;
}
